mixin article__pre(options)
  article.article__pre
    h1.pre__heading= options.heading
    h2.pre__subscription= options.subscription
    p.pre__description
      = options.description
      br
      = options.breaked