.article
  &__content
    display: flex
    justify-content: space-between

    .content
      &__side
        &_left
          .article
            &__pre
              .pre
                &__heading
                  color: $secondary-color-dark
                  font-family: $heading-font
                  font-size: 1.93em
                  word-spacing: .05em
                  line-height: 1.3em
                  margin: .5em 0em 1.3em

                &__subscription
                  color: $normal-dark-color
                  font-family: $default-italic-font
                  font-size: 1.245em
                  word-spacing: -.08em
                  line-height: 1.6em
                  margin-bottom: 2.2em

                &__description
                  color: $normal-dark-color
                  font-size: .945em
                  font-family: $default-second-font
                  font-weight: 100
                  line-height: 1.55em