mixin article__calc(heading, selection)
    h2.calc__heading= `${heading} `
      span.heading__selection= selection
    #calc__sliderCash.calc__slider.calc__slider_cash
      output.slider__output.slider__output_cash 57980 &#x20bd;
      .slider__track
        .track__thumb
        .track__level
      input.slider__input.slider__input_cash(type='range' min='1' max='100' value='13')
      p.calc__helper Сумма займа / кредита

    #calc__sliderYear.calc__slider.calc__slider_year
      output.slider__output.slider__output_year 3 года
      .slider__track
        .track__thumb
        .track__level
      input.slider__input.slider__input_year(type='range' min='1' max='100' value='50')
      p.calc__helper Срок займа / кредита

mixin article__calc-rate(size, strokeWidth,  percent, firstColor, secondColor)
  - const RADIUS = size / 2 - strokeWidth / 2
  - const C = 2 * Math.PI * RADIUS
  .calc__row
    .calc__box
      svg.calc__rate(
        viewBox = `0 0 ${size + strokeWidth} ${size + strokeWidth}`
        width = size
      )   
          defs
            lineargradient#gradient(x1='0%' y1='0%' x2='0%' y2='100%')
              stop(offset='0%' stop-color = firstColor)
              stop(offset='100%' stop-color = secondColor)

          circle.rate__background(
            r = RADIUS
            cx = size / 2 + strokeWidth / 2
            cy = size / 2 + strokeWidth / 2
            stroke-width = `${strokeWidth}px`
          )

          circle.rate__donut(
            r = RADIUS
            cx = size / 2 + strokeWidth / 2
            cy = size / 2 + strokeWidth / 2
            stroke-width = `${strokeWidth}px`
            stroke-dasharray = `${percent * C / 100} ${C}`
          )

          text.rate__percent(
            y = '-49%'
            x = '51%'
          )= `${percent} %`

      p.calc__rate-description Вероятность одобрения

    button.calc__submit Подобрать