.article
  &__calc
    position: relative
    right: 6.1em
    width: calc(100% + #{$navbar-width})
    height: 30.5em
    padding: 2.3em 6em
    background-color: $light-color
    background-image: url('../block/common/article/_left/img/calc-background.svg')
    background-position: right bottom
    background-repeat: no-repeat
    background-size: cover
    border-radius: 0 .625em .625em 0
    box-sizing: border-box
    z-index: $zindex-1
    margin: 2.8em 0

  .calc
    &__heading
      margin-bottom: 3.25em

    &__slider
      position: relative
      width: 38.5vw
      display: flex
      flex-direction: column

      &_cash
        margin-bottom: 4.3em

      &_year
        margin-bottom: 3em

      .slider
        &__output
          display: inline-block
          position: absolute
          top: -1.6em
          left: 1.9em
          box-sizing: border-box
          transform: translateX(-50%)
          font-family: $default-bold-font
          font-size: 1.1em
          color: $secondary-color-dark
          
        &__input
          appearance: none
          background-color: transparent
          position: absolute
          width: 100%
          height: .5em
          outline: none

          &::-webkit-slider-thumb
            appearance: none
            top: -1em
            position: absolute

        &__track 
          height: .2em
          background-color: #ddd
          border-radius: 1em

          .track
            &__thumb
              display: flex
              align-items: center
              justify-content: center
              height: 1em
              width: 1em
              border-radius: 1em
              position: absolute
              top: -.35em
              background-color: $primary-color
              left: 13%
              margin-left: -.5em

              &:before
                content: ''
                display: inline-flex
                width: 50%
                height: 50%
                border-radius: 50%
                background-color: $normal-dark-color
                opacity: .15

            &__level
              height: inherit
              background-image: $light-gradient
              width: 13%
              border-radius: 1em

    &__helper
      font-family: $default-font
      font-size: .9em
      margin: .5em 0

    &__row
      display: grid
      grid-template-columns: max-content max-content
      width: 38.5vw
      justify-content: space-between
          align-items: center

      .calc
        &__box
          display: grid
          grid-template-columns: max-content max-content
          grid-column-gap: 1.5em
          align-items: center

          .calc
            &__rate
              fill: transparent
              transform: rotate(-90deg)

              &-description
                font-family: $default-font
                font-size: .87em
                color: $normal-dark-color

              .rate
                &__donut
                  fill: transparent
                  stroke: url(#gradient)
                  stroke-width: 3px

                &__background
                  fill: transparent
                  stroke: $light-dark-color
                  stroke-width: 1px

                &__percent
                  fill: $dark
                  dominant-baseline: central
                  text-anchor: middle
                  font-size: 1em
                  font-family: $default-bold-font
                  color: $secondary-color-dark
                  transform: rotate(90deg)
   
        &__submit
          display: flex
          align-items: center
          justify-content: space-between
          min-width: 18em
          height: 4.5em
          border: 0
          border-radius: 9em
          background-image: $light-gradient
          color: $light-color
          font-family: $default-font
          box-sizing: border-box
          padding: 0 4em
          box-shadow: 0px 20px 25px #{$light-second}025
          cursor: pointer
          outline: none

          &:after
            content: ''
            display: inline-flex
            width: 1.35em
            height: 1.5em
            background-image: url('../block/common/article/_left/__calc/icons/arrow.svg')
            background-repeat: no-repeat
            background-position: center            