.article
  &__content
    .content
      &__side
        &_right
          display: grid
          grid-row-gap: 2em
          height: max-content
          position: relative
          bottom: 2em
          margin-right: .2em

@import '__banner/article_right__banner'
@import '__calc/article_right__calc'