mixin article__end(options)
  article.article__end
    .end__box
      img.end__image(src=require('./block/common/article/_left/img/tinkoff-card.png'))
      h1.box__heading= options.heading
      p.box__description= options.description
    p.end__text= options.firstParagraph
    p.end__text= options.secondParagraph
  
  hr.article__line