.article
  &__end
    margin-bottom: 2.8em

    .end
      &__box
        height: auto

        .end
          &__image
            float: left
            width: 17.1em
            height: 16em
            border-radius: .625em
            margin-top: .5em
            margin-right: 1.8em

        .box
          &__text
            display: flex
            flex-direction: column
            
          &__heading
            height: fit-content
            font-family: $heading-font
            font-size: 1.45em
            color: $secondary-color-dark
            line-height: 1.3em
            margin: 0 0 1em 0

          &__description
            font-family: $default-font
            font-size: .966em
            line-height: 1.5em
            color: $normal-dark-color

      &__text
        font-family: $default-font
        font-size: 0.97em
        color: $normal-dark-color
        line-height: 1.6em
        margin-top: 1.6em