mixin article__main(options, ...items)
  article.article__main
    p.main__text= options.firstParagraph
    p.main__text= options.secondParagraph
    ul.main__list
      each item in items
        li.list__item= item
    p.main__text= options.thirdParagraph