.article
  &__main
    margin-bottom: 2.7em
    
    .main
      &__text
        font-family: $default-font
        font-size: .97em
        color: $normal-dark-color
        line-height: 1.5em
        margin: 1.6em 0

      &__list
        list-style: none
        padding: 0 1em
        margin: 1.6em 0

        .list
          &__item
            display: flex
            align-items: center
            font-family: $default-font
            word-spacing: -.1em
            color: $normal-dark-color
            margin: .9em 0

            &:before
              display: inline-block
              content: ''
              width: .5em
              height: .5em
              border-radius: 50%
              background-color: $normal-light-color
              margin-right: 1em