.article
  &__content
    .content
      &__side
        &_right
          .content
            &__calc
              display: flex
              flex-direction: column
              height: 24em
              padding: 1.3em 2em
              border: 1px solid $light-dark-color
              border-radius: .625em
              background-color: $light-color
              box-sizing: border-box

              .calc
                &__heading
                  font-size: 1.125em
                  text-align: center
                  margin: 0