mixin otherNews__item(...options)
  each index in options
    .content__card
      img.card__img(src=require(`./block/common/otherNews/img/${index.img}`), alt='Piece of news.')
      .card__box

        if index.date.day < 10
          p.card__date= `0${index.date.day}.${index.date.month}.${index.date.year}`
        else if index.date.month < 10
          p.card__date= `${index.date.day}.0${index.date.month}.${index.date.year}`
        else if index.date.day < 10 && index.date.month < 10
          p.card__date= `0${index.date.day}.0${index.date.month}.${index.date.year}`
        else
          p.card__date= `${index.date.day}.${index.date.month}.${index.date.year}`

        h2.card__heading= index.heading
        p.card__description= index.description

        if !index.active
          button.card__goRead Читать