.otherNews
  margin-bottom: 5.2em

  &__heading
    font-family: $heading-font
    font-size: 1.45em
    color: $secondary-color-dark
    margin-bottom: 1.4em

  &__content
    display: flex
    overflow: auto
    width: calc(100% - -9.5em)
    position: relative
    bottom: 2em
    right: 6.1em
    padding: 2em

    .content
      &__card
        height: fit-content
        width: 24em
        background-color: $primary-color
        box-shadow: 0 4px 25px #{$dark}003
        border-radius: .625em

        &:first-child
          margin-left: 4em

        &:not(:last-child)
          margin-right: 2.7em

        .card
          &__img
            border-top-left-radius: .625em
            border-top-right-radius: .625em
            width: inherit

          &__box
            padding: .3em 1.5em

            .card
              &__date
                display: flex
                align-items: center
                font-family: $default-third-font
                color: $normal-dark-color
                font-size: .85em
                margin-bottom: .8em

                &:before
                  content: ''
                  display: inline-flex
                  width: 1.35em
                  height: 1.5em
                  background-image: url('../block/common/otherNews/icons/date.svg')
                  background-repeat: no-repeat
                  margin-right: .3em

              &__heading
                width: 79%
                font-family: $heading-font
                font-size: 1.08em
                color: $secondary-color-dark
                margin: 0

              &__description
                font-family: $default-font
                font-size: .9em
                line-height: 1.6em
                margin: .7em 0

          &__goRead
            display: flex
            align-items: center
            justify-content: space-between
            float: right
            min-width: 9.5em
            color: $primary-color
            border: 0
            border-radius: 9.5em
            background-image: $light-gradient
            box-shadow: 0 6px 20px #{$secondary-color-dark}040
            padding: .7em 1.4em .7em 1.9em
            margin: .3em 0 1.5em 0
            cursor: pointer
            outline: none

            &:after
              content: ''
              display: inline-flex
              width: 1.35em
              height: 1.5em
              background-image: url('../block/common/otherNews/icons/arrow.svg')
              background-repeat: no-repeat
              background-position: center