mixin article__path(...path)
  each link in path
    - var item = link.split('=')
    if item[item.length - 1].toLowerCase() === 'active'
      - delete item[item.length - 1]
      li.path__link
        a.link__item(href='#' class='link__item_active')= item.join(' ')
    else 
      li.path__link
        a.link__item(href='#' class='link__item')= link