.article
  &__path
    display: inline-flex
    list-style-type: none
    font-size: .9em
    margin: 0
    padding: 0

    .path
      &__link
        display: inline-flex
        font-family: $default-second-font

        &:not(:first-child):before
          display: block
          content: ''
          background-image: url('../block/common/article/_left/img/next.svg')
          background-repeat: no-repeat
          background-position: center
          width: .5em
          height: .6em
          margin: auto .8em

        .link
          &__item
            color: $secondary-color
            text-decoration: none

            &_active
              color: $normal-dark-color