.article
  &__content
    .content
      &__side
        &_right
          .content
            &__banner
              height: 24em
              background-color: $good-color
              border-radius: .625em

              .banner
                &__img
                  border-radius: .625em

                &__subscription
                  position: relative
                  top: -3em
                  color: $primary-color
                  font-size: 1.5em
                  font-family: $default-bold-font
                  line-height: 1.3em
                  text-align: center
                  margin: 0