mixin article__banner(options)
  .content__side.content__side_right
    .content__banner
      img.banner__img(src=require('./block/common/article/_right/img/banner-img.png') alt='Banner image. Robot.')
      h2.banner__subscription
        = options.subscription
        br
        = options.breaked

    .content__calc
      h2.calc__heading= `${options.calcHeading} `
        span.heading__selection= options.calcHeadingSelection