.comments
  padding: .4em 0

  &__heading
    font-family: $heading-font
    font-size: 1.45em
    color: $secondary-color-dark
    margin: 0 0 1.6em 0
  
  &__box
    display: grid
    grid-template-columns: auto
    grid-row-gap: 1.6em
    margin-bottom: 4.5em

    .comment
      display: flex
      flex-direction: column
      width: 60%

      .comment
        @extend .comment
        width: 84%
        margin: .7em 0 0 5.3em

      &__group
        display: grid
        grid-template-columns: max-content 100%
        grid-column-gap: 1.3em

      &__avatar
        border-radius: 50%

      .avatar
        &__shadow
          width: 43px
          height: 3px
          background-color: #{$normal-dark-color}050
          border-radius: 50%
          filter: blur(1.5px)
          position: relative
          top: -1px

      &__box
        display: grid
        grid-template-rows: max-content max-content

        &_avatar
          justify-items: center

        .box
          &__row
            display: grid
            grid-column-gap: 1em
            align-items: baseline

            .row
              &__text
                font-family: $default-font
                font-size: .97em
                color: $normal-dark-color
                line-height: 1.7em
                margin: 0

            &_heading
              display: grid
              grid-template-columns: max-content max-content max-content
              grid-column-gap: 1em
              align-items: baseline

              .row
                &__name,
                &__date,
                &__reply
                  margin: 0.4em 0

                &__name
                  font-family: $default-third-font
                  font-size: .97em
                  color: $secondary-color-dark

                &__date
                  font-family: $default-second-font
                  font-size: .85em
                  color: $normal-dark-color

                &__reply
                  font-family: $default-second-font
                  font-size: .85em
                  color: $secondary-color