mixin comment(...options)
  each comment in options
    .comment__group
      .comment__box.comment__box_avatar
        img.comment__avatar(src=require('./block/common/comments/photos/' + comment.name + '.png'))
        .avatar__shadow
      .comment__box
        .box__row.box__row_heading
          h3.row__name= comment.name
          p.row__date= `${comment.date.day}.${comment.date.month}.${comment.date.year} в ${comment.date.hour}:${comment.date.minutes}`
          a.row__reply(href='#') Ответить
        .box__row
          p.row__text= comment.text