=newFont($name, $style)
  @font-face
    font-family: #{$name}-#{$style}
    src: local('☺'),
    url('../fonts/#{$name}/#{$style}/#{$name}-#{$style}.eot') format('eot'),
    url('../fonts/#{$name}/#{$style}/#{$name}-#{$style}.otf') format('otf'),
    url('../fonts/#{$name}/#{$style}/#{$name}-#{$style}.woff') format('woff'),
    url('../fonts/#{$name}/#{$style}/#{$name}-#{$style}.ttf') format('truetype'),
    url('../fonts/#{$name}/#{$style}/#{$name}-#{$style}.svg') format('svg')

=newFontMod($name, $style, $modifier)
  @font-face
    font-family: #{$name}-#{$style}-#{$modifier}
    src: local('☺'),
    url('../fonts/#{$name}/#{$style}/#{$modifier}/#{$name}-#{$style}-#{$modifier}.eot') format('eot'),
    url('../fonts/#{$name}/#{$style}/#{$modifier}/#{$name}-#{$style}-#{$modifier}.otf') format('otf'),
    url('../fonts/#{$name}/#{$style}/#{$modifier}/#{$name}-#{$style}-#{$modifier}.woff') format('woff'),
    url('../fonts/#{$name}/#{$style}/#{$modifier}/#{$name}-#{$style}-#{$modifier}.ttf') format('truetype'),
    url('../fonts/#{$name}/#{$style}/#{$modifier}/#{$name}-#{$style}-#{$modifier}.svg') format('svg')