=newNavIcon($name)
  &_#{$name}
    background-image: url('../block/common/navbar/icons/#{$name}.svg')
    background-position: center
    background-repeat: no-repeat
    height: 1.9em
    width: 1.9em