mixin navbar
  nav.navbar
    .navbar__box.navbar__box_top
      .navbar__icon.navbar__icon_burger

      .boxTop__groupIcons
        .navbar__icon.navbar__icon_clock
        .navbar__icon.navbar__icon_card
        .navbar__icon.navbar__icon_cash

    .navbar__box.navbar__box_bottom
      .navbar__icon.navbar__icon_calc
      .navbar__icon.navbar__icon_search