.navbar
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  height: 100vh
  width: $navbar-width
  position: fixed
  border-right: 1px solid $light-dark-color
  background-color: $light-color
  padding: 2.9em 0 4.45em
  box-sizing: border-box
  z-index: $zindex-3

  &__box
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

    &_top
      height: 35.8%
    
    &_bottom
      height: 13%

    .boxTop
      &__groupIcons
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 59.5%

  &__icon
    +newNavIcon('burger')
    +newNavIcon('calc')
    +newNavIcon('card')
    +newNavIcon('cash')
    +newNavIcon('clock')
    +newNavIcon('search')