.footer
  display: flex
  justify-content: center
  width: calc(100% - #{$navbar-width})
  min-height: 30vh
  position: relative
  left: $navbar-width
  background-color: $light-color

  &__container
    display: grid
    grid-template-columns: max-content max-content
    grid-column-gap: 1.3em
    justify-content: space-between
    width: 90%
    padding: 4.1em 0
    box-sizing: border-box

    .footer
      &__money
        content: ''
        display: block
        width: 15.85em
        height: 8.55em
        position: absolute
        bottom: 15em
        right: 5em
        background-image: url('../block/common/footer/img/money.svg')
        background-repeat: no-repeat
        background-size: contain
        z-index: $zindex-0

      &__box
        &_left
          display: grid
          grid-template-rows: max-content max-content
          grid-row-gap: 1.2em

          .footer
            &__brand
              display: flex
              height: 3em
              width: fit-content

              .brand
                &__img
                  margin-right: .95em

                &__text
                  line-height: 1.1em
                  padding: .45em 0
                  color: $secondary-color-dark
                  
                  .text
                    &__heading
                      font-family: $brand-bold-font
                      font-size: 1.063em
                      text-transform: uppercase
                      word-spacing: -.1em
                      margin: 0

                    &__subscription
                      font-family: $brand-font
                      font-size: .8em
                      margin: 0

            &__copyright
              width: 90%
              font-family: $brand-font
              font-size: .74em
              line-height: 1.7em
              color: $light-dark-color
          
        &_right
          display: grid
          grid-template-columns: 1fr 1fr 1fr 1fr
          grid-column-gap: 3.7em

          .box
            &__item
              .item
                &__heading
                  font-family: $heading-font
                  font-size: 1.1em
                  margin: .1em 0 0 0

                &__list
                  list-style: none
                  padding: 0
                  line-height: 2.25em
                  margin: 1.1em 0 0 0
                  font-family: $brand-font
                  font-size: 0.87em

                  .list
                    &__point
                      .point
                        &__link
                          color: $normal-dark-color
                          text-decoration: none