mixin footer__content(options)
  .footer__container
    .footer__box.footer__box_left
      .footer__brand
        img.brand__img(src=require('./block/common/footer/logo.svg') alt='Brand logo with gradient.')
        .brand__text
          h1.text__heading Деньги без отказа
          h2.text__subscription для всех городов России
      .footer__copyright
        = options.copyright
        br
        = options.breaked

    .footer__box.footer__box_right
      each mainItem, itemIndex in options.items
        - let name
        case itemIndex
          when 'product'
            - name = 'Продукты'
          when 'company'
            - name = 'Компания'
          when 'service'
            - name = 'Сервисы'
          when 'social'
            - name = 'Мы в соц. сетях'

        .box__item
          h2.item__heading= name
          ul.item__list

            each listItem in mainItem
              - let string = listItem.split('=')
              
              li.list__point

                if !string[1]
                  a.point__link(href='#')= string[0]
                else
                  a.point__link(href=string[1])= string[0]
    
    .footer__money
          