include block/common/navbar/navbar
include block/common/preview/preview
include block/common/article/article
include block/common/comments/comments
include block/common/addComment/addComment
include block/common/otherNews/otherNews
include block/common/footer/footer