<!DOCTYPE html>
html(lang='en')
  head
    title Tinkoff Platinum
    meta(http-equiv='X-UA-Compatible' content='IE=7')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    include include
    +navbar
    
    +preview({
      heading: 'Деньги без отказа',
      subscription: 'для всех городов России',

      bestDeals: 'Лучшие предложения',
      sendRequest: 'Подать заявку'
    })

    .page
      section.article
        ul.article__path
          +article__path('Главная', 'Новости и статьи=active')

        .article__content
          .content__side.content__side_left
            +article__pre({
              heading: 'Кредитная карта банка Тинькофф Платинум с доставкой на дом',
              subscription: 'На фоне шумихи в СМИ относительно биткоинов в информационном сообществе появились сообщения о том, что Тинькофф Банк собирается создать свою криптовалюту со стильным названием - tincoin.',
              description: 'Одним из самых распространенных видов кредитов является кредитка. Кредитные карты – это карты, которые выдает банк, на них зачисляется денежная сумма в размере выданного вам кредита. Они очень удобны, и хорошо заменяют привычные для нас наличные кредиты. Это очень удобное пользование кредитной суммой как в России, так и других странах.',
              breaked: 'С помощью кредитного пластика вы сможете оплачивать счета и покупки, в пределах суммы кредита. Лимит кредитки равен сумме зачисления кредита. Сумма максимального кредита вычисляется исходя из ваших стабильных доходов и кредитной истории.',
            })

            
            .article__calc
              +article__calc('Оформи заявку', 'в 1 месте')
              +article__calc-rate(72, 2, 94, '#0097F6', '#3940DC')

            +article__main({
              firstParagraph: 'В своём инстаграмме Олег Тиньков поместил информацию о готовности к запуску тинькоинов. Тиньков заявил, что рынок криптовалюты имеет серьёзный потенциал для развития.',
              secondParagraph: 'Но уже сегодня основатель банка опроверг данную информацию. Олег Тиньков считает, что пока криптовалюта полностью не легализована в России, банк не имеет права выпускать её.',
              thirdParagraph: 'Напомним, что Минфин России скептически относится к идее легализации биткоинов, считая, что криптовалютный механизм работает по принципу финансовой пирамиды. Президент России Владимир Путин также заявил, что биткоины следует контролировать, так как они создают свободную среду для отмывания капитала и незаконных финансовых транзакций.',
              },
              
              'Покупка билетов в авиакомпаниях.',
              'Покупки в магазинах.',
              'Оплата счетов в ресторанах и кафе.',
              'Оплаты услуг спортивного клуба.',
              'Оплата услуг туристических фирм и др.'
            )

            +article__end({
              heading: 'Кредитная карта банка Тинькофф Платинум с доставкой на дом',
              description: 'Одним из самых распространенных видов кредитов является кредитка. Кредитные карты – это карты, которые выдает банк, на них зачисляется денежная сумма в размере выданного вам кредита. Они очень удобны, и хорошо заменяют привычные для нас наличные кредиты. Это очень удобное пользование кредитной суммой как в России, так и других странах.',

              firstParagraph: 'На фоне шумихи в СМИ относительно биткоинов в информационном сообществе появились сообщения о том, что Тинькофф Банк собирается создать свою криптовалюту со стильным названием - tincoin.',
              secondParagraph: 'В своём инстаграмме Олег Тиньков поместил информацию о готовности к запуску тинькоинов. Тиньков заявил, что рынок криптовалюты имеет серьёзный потенциал для развития.'
            })

          .content__side.content__side_right
            +article__banner({
              subscription: 'Деньги',
              breaked: 'за 5 минут',

              calcHeading: 'Оформи заявку',
              calcHeadingSelection: 'в 1 месте'
            })

      section.comments
        h2.comments__heading Комментарии
        .comments__box
          .comment
            +comment({
              name: 'Валентина', 

              date: {
                minutes: 14,
                hour: 11,
                day: 31,
                month: 07,
                year: 2018
              },
              
              text: 'А как снимать с карты деньги?'
            })

            .comment
              +comment({
                name: 'Софья Колядина', 

                date: {
                  minutes: 14,
                  hour: 11,
                  day: 31,
                  month: 07,
                  year: 2018
                },
                
                text: 'Добрый день, Валентина! Снятие наличных возможно в любом банкомате любого банка. Но необходимо помнить, что при снятии наличных с кредитной карты Тинькофф банка взимается комиссия — 2.9% от суммы снятия + 290 рублей. Снятие с дебетовой карты бесплатное от 3 000 рублей.'
              })
                
          .comment
            +comment({
              name: 'Иван Петров', 

              date: {
                minutes: 14,
                hour: 11,
                day: 31,
                month: 07,
                year: 2018
              },
              
              text: 'Добрый день, Валентина! Снятие наличных возможно в любом банкомате любого банка. Но необходимо помнить, что при снятии наличных с кредитной карты Тинькофф банка взимается комиссия — 2.9% от суммы снятия + 290 рублей. Снятие с дебетовой карты бесплатное от 3 000 рублей.'
            })
            
          .comment
            +comment({
              name: 'Дмитрий Иванов', 

              date: {
                minutes: 14,
                hour: 11,
                day: 31,
                month: 07,
                year: 2018
              },
              
              text: 'Добрый день, Валентина! Снятие наличных возможно в любом банкомате любого банка. Но необходимо помнить, что при снятии наличных с кредитной карты Тинькофф банка взимается комиссия — 2.9% от суммы снятия + 290 рублей. Снятие с дебетовой карты бесплатное от 3 000 рублей.'
            })

        hr.comments__line

      section.addComment
        h2.addComment__heading Добавьте свой комментарий
        +formAddComment()

      section.otherNews
        h2.otherNews__heading Похожие новости

        .otherNews__content
          +otherNews__item({
            img: 'TinkoffBank.png',

            date: {
              day: 12,
              month: 10,
              year: 2018
            },

            heading: 'Tincoin от Тинькофф Банка: быть или не быть?',
            description: 'В информационном сообществе появились сообщения о том, что Тинькофф Банк собирается создать свою криптовалюту со стильным названием - tincoin.',

            active: true
          },{
            img: 'FitchRaiting.png',

            date: {
              day: 8,
              month: 10,
              year: 2018
            },

            heading: 'Fitch Raiting предсказывает исчезновение банков',
            description: 'Международное рейтинговое агенство Fitch Raiting подсчитало, что количество банковских организаций в стране может уменьшиться вдвое уже через 4 года.',

            active: false
          },{
            img: 'Yandex.png',

            date: {
              day: 28,
              month: 9,
              year: 2018
            },

            heading: 'Некорректная маркировка или «опознать невозможно»',
            description: 'В информационном сообществе появились сообщения о том, что Тинькофф Банк собирается создать свою криптовалюту со стильным названием - tincoin.',

            active: true
          })
      
    footer.footer
      +footer__content({
        copyright: '© 2019 Деньги без отказа.',
        breaked: 'Сервис подбора услуг финансовых организаций.',
        
        items: {
          product: [
            'Кредиты наличными',
            'Кредитные карты',
            'Микрозаймы'
          ],
          company: [
            'О проекте',
            'Новости',
            'Контакты'
          ],
          service: [
            'Калькулятор',
            'Помощь в подборе'
          ],
          social: [
            'Вконтакте=https://vk.com',
            'Facebook=https://facebook.com',
            'Instagram=https://instagram.com'
          ],
        }
      })