.article
  width: 100%
  padding: 1.7em 0
  box-sizing: border-box

@import '_left/article_left'
@import '_right/article_right'

.calc
  &__heading
    color: $secondary-color-dark
    font-family: $heading-font

    .heading__selection
      color: $secondary-color
      font-family: $heading-font