.addComment
  margin-bottom: 2.9em
  
  &__heading
    display: flex
    align-items: center
    font-family: $heading-second-font
    font-size: 1.22em
    color: $secondary-color-dark
    margin: .9em 0 1.35em 0

    &:before
      content: ''
      display: inline-block
      width: 2.5em
      height: 2.2em
      background-image: url('../block/common/addComment/comas.svg')
      background-repeat: no-repeat
      background-size: contain
      margin-right: .65em
  
  &__form
    width: 62.35%
    font-family: $default-font

    .input-field
      margin-bottom: .5em

      &>label:not(.label-icon).active
        transform: translateY(-.55em) scale(.8)

    .form
      &__textarea
        min-height: 7.6em
        border-color: $normal-dark-color
        border-radius: .8em
    
        &:focus
          outline: none

        &-label
          top: .3em
          left: .65em

      &__row
        display: grid
        grid-template-columns: 1fr 1fr
        grid-column-gap: 2.7em

        .form
          &__helper
            left: 2.5em
            font-size: .7em
            bottom: .25em

          &__name,
          &__email
            border-color: $primary-color-bg
            border-radius: 1.5em

            &-label
              top: .1em
              left: .65em

      &__submit
        min-width: 10.5em
        min-height: 2.5em
        border: 0
        border-radius: 2.5em
        background-image: $light-gradient
        box-shadow: 0 6px 20px #{$secondary-color-dark}040
        font-family: $default-font
        color: $primary-color
        font-size: .97em
        cursor: pointer

      &__textarea,
      &__row .form__name,
      &__row .form__email
        padding: 1.1em 1.7em
        border-width: 1.5px
        border-style: solid
        font-family: $default-font
        font-size: .95em
        line-height: 1.7em
        color: $normal-dark-color
        box-sizing: border-box

      &__textarea-label,
      &__row .form__name-label,
      &__row .form__email-label
        width: auto !important
        background-color: $primary-color
        font-size: 1.085em
        padding: 0 1em