mixin formAddComment()
  form.addComment__form(action='#' method='')
    .input-field
      textarea#comment.form__textarea(name='comment')
      label.form__textarea-label(for='comment') Комментарий / отзыв
    .form__row
      .input-field
        input#name.form__name(name='name' type="text")
        label.form__name-label(for='name') Ваше имя
      .input-field
        input#email.form__email(name='email' type="text")
        label.form__email-label(for='email') Ваш e-mail
        span.form__helper.helper-text(data-error='wrong' data-success='right') Не будет опубликован
    input.form__submit(type="submit" value="Отправить")