.preview
  height: 51.6vh
  width: calc(100% - #{$navbar-width})
  position: relative
  left: $navbar-width
  background-image: url('../block/common/preview/img/preview-background.png')
  background-size: cover
  background-position-x: 100%
  background-repeat: no-repeat

  &:before
    content: ''
    height: 17.5em
    width: 100%
    position: absolute
    top: 0
    background: $shadow-gradient
    transform: rotate(-180deg)
    z-index: $zindex-1

  &__header
    display: flex
    align-items: flex-end
    justify-content: space-between
    height: 5.3em
    padding: 0 6em
    position: relative
    z-index: $zindex-2

    .header
      &__brand
        display: flex
        height: 3em

        .brand
          &__img
            margin-right: .95em

          &__text
            line-height: 1.1em
            padding: .45em 0
            color: $primary-color
            
            .text
              &__heading
                font-family: $brand-bold-font
                font-size: 1.063em
                text-transform: uppercase
                word-spacing: -.1em
                margin: 0

              &__subscription
                font-family: $brand-font
                font-size: .8em
                margin: 0

      &__buttons
        display: flex
        justify-content: space-between
        width: 29.2em
        margin-right: .8em

        .header__btn
          &_bestDeals
            padding-right: 2.5em
            padding-left: 2.5em
            color: $secondary-color-dark
            background-color: $primary-color-bg

          &_sendRequest
            padding-right: 3.55em
            padding-left: 3.55em
            color: $warning-second-color
            background-color: $warning-color

          &_bestDeals,
          &_sendRequest
              font-family: $default-second-font
              font-size: .91em
              padding-top: 1em
              padding-bottom: 1em
              box-sizing: border-box
              border: 0
              border-radius: 2em
              cursor: pointer
              outline: none