mixin preview(options)
  section.preview
    header.preview__header
      .header__brand
        img.brand__img(src=require('./block/common/preview/img/header-logo.svg') alt='Header Logo')
        .brand__text
          h1.text__heading= options.heading
          h2.text__subscription= options.subscription

      .header__buttons
        button.header__btn.header__btn_bestDeals= options.bestDeals
        button.header__btn.header__btn_sendRequest= options.sendRequest